<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.lab1swdev.mybatis.model.Electivecourse" alias="ElectiveCourse"/>
        <typeAlias type="com.example.lab1swdev.mybatis.model.Studygroup" alias="StudyGroup"/>
        <typeAlias type="com.example.lab1swdev.mybatis.model.Student" alias="Student"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="Lab1DataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- Generated Mappers -->
        <mapper resource="mybatis.xml/ElectiveCourseMapper.xml"/>
        <mapper resource="mybatis.xml/StudyGroupMapper.xml"/>
        <mapper resource="mybatis.xml/StudentMapper.xml"/>

        <!-- Custom Mappers -->
        <mapper resource="mybatis.xml/CustomStudygroupMapper.xml"/>
        <mapper resource="mybatis.xml/CustomStudentMapper.xml"/>
        <mapper resource="mybatis.xml/CustomElectivecourseMapper.xml"/>
    </mappers>
</configuration>